/*colors*/

$dark-blue-background-color: rgb(0, 15, 37);
$green-lightsaber-text-color: rgb(0, 255, 255);
$blue-placeholder-color: rgb(56, 107, 150);
$error-color: rgb(255, 21, 21);
$purple-button-color: rgb(100, 20, 90);

/*--------------------------------------------BODY----------------------------------------------*/

body {
    background: url(../img/future.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
}


/*-------------------------------------------COMPONENTS----------------------------------------------*/

.align-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.headline {
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 15px $green-lightsaber-text-color;
    color: $green-lightsaber-text-color;
}

.img-logo {
    height: auto;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 40px;
}


/*-------------------------------------------FORM----------------------------------------------*/

form {
    width: 400px;
    border: 2px solid rgb(141, 202, 255);
    background-color: $dark-blue-background-color;
    -webkit-box-shadow: 0 0 15px $green-lightsaber-text-color;
    box-shadow: 0 0 15px $green-lightsaber-text-color;
    color: rgb(141, 202, 255);
    margin: 0 10px;
    padding: 20px 0;
}

.lightsaber-input {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: $dark-blue-background-color;
    border: 0;
    border-bottom: 2px solid $blue-placeholder-color;
    color: $green-lightsaber-text-color;
    &:focus {
        outline: none;
        background-color: $dark-blue-background-color;
        border: 0;
        border-bottom: 2px solid $green-lightsaber-text-color;
    }
}

form {
    input[type] {
        &::placeholder,
        &::-webkit-input-placeholder,
        &:-ms-input-placeholder,
        {
            color: $blue-placeholder-color;
        }
    }
    label {
        color: $blue-placeholder-color;
    }
}


/*-------------------------------------------CHECKBOX----------------------------------------------*/

.checkbox-container {
    vertical-align: bottom;
}

.checkmark {
    display: inline-block;
}


/*-------------------------------------------BUTTON----------------------------------------------*/

.button-submit {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 400;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px 15px 0 0;
    background-color: $purple-button-color;
    color: $green-lightsaber-text-color;
    border: 1px solid $purple-button-color;
    text-transform: uppercase;
    &:hover,
    &:active {
        background-color: #64145a;
        border: 1px solid $green-lightsaber-text-color;
        -webkit-box-shadow: 0 0 15px $green-lightsaber-text-color;
        box-shadow: 0 0 15px $green-lightsaber-text-color;
    }
}


/*----------------------------------------ERRORS-----------------------------------------------*/

.input-error {
    border-bottom: 2px solid $error-color;
}

span {
    display: inline-block;
    float: right;
    color: $error-color;
    font-size: 80%;
}