/*colors*/


/*--------------------------------------------BODY----------------------------------------------*/

body {
    background: url(../img/future.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
}


/*-------------------------------------------COMPONENTS----------------------------------------------*/

.align-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.headline {
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 15px cyan;
    color: cyan;
}

.img-logo {
    height: auto;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 40px;
}


/*-------------------------------------------FORM----------------------------------------------*/

form {
    width: 400px;
    border: 2px solid #8dcaff;
    background-color: #000f25;
    -webkit-box-shadow: 0 0 15px cyan;
    box-shadow: 0 0 15px cyan;
    color: #8dcaff;
    margin: 0 10px;
    padding: 20px 0;
}

form input[type]::-webkit-input-placeholder {
    color: #386b96;
}

form input[type]:-ms-input-placeholder {
    color: #386b96;
}

form input[type]::placeholder {
    color: #386b96;
}

form label {
    color: #386b96;
}

.lightsaber-input {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #000f25;
    border: 0;
    border-bottom: 2px solid #386b96;
    color: cyan;
}

.lightsaber-input:focus {
    outline: none;
    background-color: #000f25;
    border: 0;
    border-bottom: 2px solid cyan;
}

.requared-input-field:after {
    content: "*";
}


/*-------------------------------------------BUTTON----------------------------------------------*/

.button-submit {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 400;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px 15px 0 0;
    background-color: #64145a;
    color: cyan;
    border: 1px solid #64145a;
    text-transform: uppercase;
}

.button-submit:hover,
.button-submit:active {
    background-color: #64145a;
    border: 1px solid cyan;
    -webkit-box-shadow: 0 0 15px cyan;
    box-shadow: 0 0 15px cyan;
}


/*----------------------------------------ERRORS-----------------------------------------------*/

.input-error {
    border-bottom: 2px solid #ff1515;
}

.error-text {
    display: inline-block;
    float: right;
    color: #ff1515;
    font-size: 75%;
}


/*-----------------------------------------ICONS-------------------------------------------------*/

.btn {
    cursor: pointer;
}

.icon-btn-inactive {
    color: #386b96;
}

.icon-btn-inactive:hover {
    color: cyan;
}

.icon-btn-active {
    color: cyan;
}

.icon-btn-active:hover {
    color: #386b96;
}